<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625519148312-u3qrk3dqi6jnqavtnrmqfjlfl2egqs9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625519148312-u3qrk3dqi6jnqavtnrmqfjlfl2egqs9q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625519148312-mrk0cnb31hcb0pjuq45cfm57aitcf72v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG7HylHsbrK83y0hwRBgkSbvUMraKoMGU</string>
	<key>GCM_SENDER_ID</key>
	<string>625519148312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gitemsolutions.ToneDeafDeafinitionsApp</string>
	<key>PROJECT_ID</key>
	<string>tonedeafdeafinitions</string>
	<key>STORAGE_BUCKET</key>
	<string>tonedeafdeafinitions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625519148312:ios:3f0067ffe2db339cf9f26d</string>
	<key>DATABASE_URL</key>
	<string>https://tonedeafdeafinitions.firebaseio.com</string>
</dict>
</plist>